.App{
  margin-top: 0;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.main-ele{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  padding: 50px 5px;
}

.main-sub-ele{
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.dice{
  text-align: center;
  -webkit-box-shadow: 5px 2px 8px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 2px 8px -1px rgba(0,0,0,0.75);
   box-shadow: 5px 2px 8px -1px rgba(0,0,0,0.75);
}

.sub-ele-btn{
  margin: 50px 5px;
  padding: 15px 50px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 7px;

}

.intro{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 80px;
}

.intro-h1{
  text-align: center;
  font-size: 50px;
  padding: 0px;
  margin: 0px;
}

.intro-p{
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  font-style: italic;
  padding: 0px;
  margin: 0px;
}

.intro-rule{
  margin-top: 80px;
}

.into-rule-h2{
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  font-style: italic;
  padding: 0px;
  margin: 0px;
}

.intro-ol, li{
  font-size: 20px;
  font-style: italic;
  padding: 0px;
  margin: 0px;
}
